@import url("http://fonts.googleapis.com/css?family=Rubik:300,400,700");

$font-family-base: "Rubik", sans-serif !important;

$primary: #eb6424;
$dark: #2a2b2a;
$secondary: #fa9500;
$white: #ffffff;
$bg-primary: #eb6424;

$body-bg: $white;
$body-color: $dark;

@import "../../../node_modules/bootstrap/scss/bootstrap";

.welcome {
    font-weight: lighter;
}

.form-button {
    min-width: 150px;
}
.form-alternative {
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
}
.form-alternative-a {
    color: var(--bs-secondary);
}
.form-section-title {
    font-weight: bold;
}
.form-column {
    max-width: 350px;
    min-width: 150px;
}

.margin-content {
    margin-left: 5rem;
    margin-right: 5rem;
}

.primary-button {
    max-width: 350px;
    max-height: 40px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.product-image {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
    border-radius: 8px;
}

.input-with-button {
    display: flex;
    align-items: center;
}

.input-with-button input {
    flex: 1;
}

.input-group {
    max-width: 350px;
}

::placeholder {
    color: var(--bs-secondary);
    opacity: 0.4;
}

.visibility-icon {
    color: var(--bs-secondary);
}

.alert-icon {
    color: #155724;
    height: 24px;
    width: 24px;
}

.alert-icon.success {
    color: #155724;
}

.alert-icon.error {
    color: #721c24;
}

.alert-icon:hover {
    cursor: pointer;
}

.icon-button {
    height: 40px;
    border-color: var(--bs-secondary);
    border-width: 1px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-left: none;
}

.dropdown {
    max-width: 350px;
    height: 40px;
}

.dropdown-menu {
    width: 200px;
}

.dropdown-select {
    max-width: 350px;
    height: 36px;
    border-color: var(--bs-secondary);
    border-radius: 6px;
    padding-left: 10px;
}

.cap-dropdown {
    max-width: 350px;
    width: 350px;
    align-content: start;
    align-items: start;
    justify-items: stretch;
    border-color: var(--bs-secondary);
}

.town-not-selected {
    color: var(--bs-secondary);
    opacity: 0.5;
}

.alert {
    color: red;
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog .dialog-content {
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.profile-container {
    max-width: 1000px;
    margin: 0 auto;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-field {
    flex: 1;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}
.profile-image {
    font-size: 80px;
    color: #ccc;
}

.custom-alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
  .custom-alert.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
  }
  
  .custom-alert.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
  }